<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index_styles.css">
    <script src="index_script.js" async></script>
    <title>Hardcore</title>
</head>

<body>
    <main class="flex" style="flex-direction: column;">

        <section id="presentacion" class="flex">
            <div id="fondo" class="flex">
                
                <div id="contenido" class="flex">
                    
                    <header class="flex">
                        <img src="logo.png" alt="Logo" width="32" height="32" style="margin-left: 15px;">

                        <nav class="flex">
                            <a tabindex="-1" href="login.html" target="_self">
                                <button title="¡Solo para empleados!">iniciar sesión</button>
                            </a>
                        </nav>
                    </header>

                    <p id="info1">¡Descubre tu nuevo lugar favorito para una comida rápida y deliciosa!</p>
                    <p id="info2">Hamburguesas frescas y deliciosas, acompañadas de crujientes papas fritas, sabrosos clubhouse y 
                        jugosas alitas. Perfecto para pasar un buen rato con amigos y familia.</p>
                    <button id="button_pedir">¡PIDE YA!</button>

                </div>

                <p id="prueba" style="text-align: center;">¡sigue bajando!</p>

            </div>
        </section>

        <section id="menu" class="flex">
            <h1 id="title_menu">Menú Hardcore</h1>

            <div id="productos" class="flex">
                <div class="flex ficha">
                    <img src="products/American.png" alt="American">
                    <h1 >American</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Motley.png" alt="American">
                    <h1>Mötley</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/PapasHXC.png" alt="American">
                    <h1>Papas HXC</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Californibacon.png" alt="American">
                    <h1>Californibacon</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Clubhouse.png" alt="American">
                    <h1>Club House</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Queen.png" alt="American">
                    <h1>Queen</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Yoko.png" alt="American">
                    <h1>Yoko</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/Hardcore.png" alt="American">
                    <h1>Hardcore</h1>
                </div>

                <div class="flex ficha">
                    <img src="products/BuffaloWings.png" alt="American">
                    <h1>Buffalo Wings</h1>
                </div>
            </div>
        </section>

        <footer class="flex">
            <p>Hardcore | Todos los derechos reservados.</p>
        </footer>

    </main>
</body>

</html>