<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="dash_script.js" async></script>
    <link rel="stylesheet" href="dash_styles.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <header></header>
        <nav>
            
        </nav>
        <div id="content"></div>
        <div id="empresa">
            <img src="logo.png" alt="Logo" title="Hardcore" width="84" height="84">
        </div>
    </main>
</body>
</html>