<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login_styles.css">
    <script src="login_script.js" async></script>
    
    <title>login</title>
</head>

<body>
    <main id="fondo">

        <div id="login">

            <div id="mensaje">
                <h1>Iniciar Sesión</h1>
                <p>Create by T.S.U. Andrés García</p>
            </div>

            <div id="iniciar_sesion">
                
                <div id="d_1">
                    <input id="in_usuario" type="text" placeholder="usuario">
                    <input id="in_pass" type="password" placeholder="contraseña">
                    <button id="b_olv_pass">¿Olvidaste la contraseña?</button>
                </div>

                <button id="b_ingresar" onclick="ingresar()">Ingresar</button>
            </div>

        </div>

    </main>
</body>

</html>